<div id="<%= dom_id ai_product_tag %>">
  <p>
    <strong>Name:</strong>
    <%= ai_product_tag.name %>
  </p>

  <p>
    <strong>Ai product:</strong>
    <%= ai_product_tag.ai_product_id %>
  </p>

</div>
