<script>
    document.addEventListener("DOMContentLoaded", function () {
        var linkText = document.getElementById("link").textContent;
        var copyButton = document.getElementById("copyButton");

        copyButton.addEventListener("click", function () {
            var textarea = document.createElement("textarea");
            textarea.value = linkText;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);

            alert("链接已复制到剪贴板！");
        });
    });
</script>
<p style="color: green"><%= notice %></p>


<section class=" py-5">
    <div class="container card card-body col-md-10 ">
      <p>
        <strong>Link:</strong>
      <p id="link"><%= @link %></p>
      <br>
      <button id="copyButton">复制链接</button>
    </div>
</section>


