<div id="<%= dom_id ai_product_sort %>">
  <p>
    <strong>Name:</strong>
    <%= ai_product_sort.name %>
  </p>

  <p>
    <strong>Uuid:</strong>
    <%= ai_product_sort.uuid %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= ai_product_sort.weight %>
  </p>

</div>
