<h1>Editing ai product sort</h1>

<%= render "form", ai_product_sort: @ai_product_sort %>

<br>

<div>
  <%= link_to "Show this ai product sort", @ai_product_sort %> |
  <%= link_to "Back to ai product sorts", ai_product_sorts_path %>
</div>
