<h1>Editing ai product</h1>

<%= render "form", ai_product: @ai_product %>

<br>

<div>
  <%= link_to "Show this ai product", @ai_product %> |
  <%= link_to "Back to ai products", ai_products_path %>
</div>
